In [1]:
# Load libraries
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

# Make simulated feature matrix
features, _ = make_blobs(n_samples = 50,
                         n_features = 2,
                         centers = 3,
                         random_state = 1)

# Create DataFrame
dataframe = pd.DataFrame(features, columns=["feature_1", "feature_2"])

# Make k-means clusterer
clusterer = KMeans(3, random_state=0)

# Fit clusterer
clusterer.fit(features)

# Predict values
dataframe["group"] = clusterer.predict(features)

# View first few observations
dataframe.head(25)

    feature_1  feature_2  group
0   -9.877554  -3.336145      0
1   -7.287210  -8.353986      2
2   -6.943061  -7.023744      2
3   -7.440167  -8.791959      2
4   -6.641388  -8.075888      2
5   -0.794152   2.104951      1
6   -2.760179   5.551214      1
7   -9.946905  -4.590344      0
8   -0.525790   3.306599      1
9   -1.981977   4.022436      1
10  -5.865964  -7.968072      2
11  -6.834787  -7.391217      2
12  -6.749247 -10.175429      2
13 -10.752110  -2.700480      0
14  -8.508996  -8.657694      2
15  -2.330806   4.393825      1
16  -0.197452   2.346349      1
17   0.085252   3.645283      1
18 -10.206607  -3.366725      0
19  -9.158729  -3.022246      0
20  -1.340521   4.157119      1
21  -1.831988   3.528631      1
22  -9.806797  -1.853093      0
23  -0.758704   3.722762      1
24 -11.140231  -4.302691      0